* {
    box-sizing: border-box;
    font-family: monospace;
}

.game-button {
    background-color: #d5d5d5;
    border-style: solid;
    border-color: #f7f6f4 #a2a2a2 #a2a2a2 #f7f6f4;
    border-width: 3px;
    border-radius: 0;
    cursor: pointer;
}

.game-button:active {
    background-color: #c1c1c1;
    border-width: 3.2px 1.6px 1.6px 3.2px;;
    border-color: #979797;
}

.game {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.game__container {
    padding: 10px;
    background-color: #ababab;
}

.game__panel {
    width: 100%;
    background-color: #c1c1c1;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 3px rgba(255, 255, 255, 1);
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game__counter,
.game__current-time {
    font-size: 20px;
    background-color: #252525;
    color: #ff0000;
}

.game__emoji {
    font-size: 20px;
}

.game__field {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 3px rgba(255, 255, 255, 1);
    padding: 2px;
}

.game__cell {
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game__cell:disabled {
    background-color: #c1c1c1;
    border-color: #a2a2a2;
    border-width: 1px;
}

.notBomb {
    position: relative;
}

.notBomb::before,
.notBomb::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #ff0000;
    transition: all 0.3s ease 0s;
    z-index: 5;
}


.notBomb::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}

.notBomb::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
}